body[theme-mode="dark"] {
    background: #16161a;
}

.App {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.dark {
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.addNote {
    margin-top: 1rem;
    width: 300px;
    text-align: left;
}

.local {
    width: 800px;
    margin: 3rem auto;
}

.local-header {
    margin-bottom: 1rem;
}

@media (max-width: 830px) {
    .addNote {
        width: 95%;
    }

    .local {
        margin: 1rem auto;
        width: 95%;
    }
}